body{
	background-color: #FFF98D;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-container{
	background-color: #ffffff;
	width: 80vmin;
	height: 80vmin;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.ba-wood{
	background-color: #ffffff;
	width: 70vmin;
	height: 70vmin;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px solid #000;
	box-shadow: 0 0 30px #000;
}

.sector-dark, .sector-light{
	height: 50%;
    width: 100%;
	position: absolute;
	left: 0;
}
.sector-dark{
	top: 0;
}

.ba-rows {
    height: 25%;
	width: 100%;
	position: absolute;
	top: 0;
}

.ba-square{
	position: absolute;
	height: 100%;
	width: 12.5%
}

.ba-square:nth-of-type(2){
	left: 12.5%;
}

.ba-square:nth-of-type(3){
	left: 25%;
}

.ba-square:nth-of-type(4){
	left: 37.5%;
}

.ba-square:nth-of-type(5){
	left: 50%;
}

.ba-square:nth-of-type(6){
	left: 62.5%;
}
.ba-square:nth-of-type(7){
	left: 75%;
}

.ba-square:nth-of-type(8){
	left: 87.5%;
}

.sector-dark{
	position: relative;
}

.sector-dark .ba-rows:nth-of-type(1), .sector-light .ba-rows:nth-of-type(1){
	top: 0;
}

.sector-dark .ba-rows:nth-of-type(2), .sector-light .ba-rows:nth-of-type(2){
	top: 25%;
}

.sector-dark .ba-rows:nth-of-type(3), .sector-light .ba-rows:nth-of-type(3){
	top: 50%;
}

.sector-dark .ba-rows:nth-of-type(4), .sector-light .ba-rows:nth-of-type(4){
	top: 75%;
}

.ba-rows .ba-square:nth-child(1){
	left: 0;
}

.ba-rows:nth-child(odd) .ba-square:nth-child(odd){
	background-color: #000;
}

.ba-rows:nth-child(even) .ba-square:nth-child(even){
	background-color: #000;
}

.sector-light .ba-rows:nth-of-type(3) .ba-square:nth-child(odd):before, .sector-light  .ba-rows:nth-child(even) .ba-square:nth-child(even):before{
	content: '';
	position: absolute;
	display: block;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-color: #fff;
	margin: 0;
	box-sizing: border-box;
	top: 10%;
	left: 10%;	
}

.sector-dark .ba-rows:nth-of-type(1) .ba-square:nth-child(odd):before, .sector-dark  .ba-rows:nth-child(2) .ba-square:nth-child(even):before, .sector-dark  .ba-rows:nth-child(3) .ba-square:nth-child(odd):before{
	content: '';
	position: absolute;
	display: block;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-color: red;
	margin: 0;
	box-sizing: border-box;
	top: 10%;
	left: 10%;
}